<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <title>Rekisteröinti</title>
</head>
<body>
  <h2>Luo uusi käyttäjä</h2>

  <form action="/register" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <p>
      <label for="username">Tunnus:</label><br>
      <input type="text" name="username" id="username" required>
    </p>

    <p>
      <label for="password1">Salasana:</label><br>
      <input type="password" name="password1" id="password1" required>
    </p>

    <p>
      <label for="password2">Salasana uudestaan:</label><br>
      <input type="password" name="password2" id="password2" required>
    </p>

    <input type="submit" value="Luo tunnus">
  </form>
</body>
</html>
